.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em 0 2em 0;
    background-color: #161616;
    color: #fff;
}

.contact-info p {
    font-size: 1.1em;
    font-weight: 550;
}

.contact-info a {
    font-size: 1.2em;
    color: #f1b900;
}

.contact-info a:hover {
    text-decoration: underline;
}