.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #141a1a;
}

.header.scrolled {
    background-color: #020122;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transition: 0.2s ease-in-out;
}

.nav {
    display: flex;
    gap: 2em;
    margin: 0 auto;
}

.nav .name {
    font-weight: 700;
    letter-spacing: 0.5px;
}

.contact {
    margin-right: 16em;
}

.nav a {
    font-size: 1.6em;
    padding: 0.7em 0.7em;
    font-weight: 600;
    transition: 0.2s ease;
}

.nav a:hover {
    background-color: #141bae;
    color: #fff;
    border-radius: 10px;
}

button.contact a {
    color: #fff;
    text-decoration: none;
}

button.contact {
    font-size: 1.4em;
    background-color: #f56200; 
    border-radius: 18px;
    transition: 0.3s ease;
    font-weight: 700;
}

button.contact:hover {
    background-color: #da0505;
    color: #fff;
    transform: translateY(-1px);
    
}

@media (max-width: 2000px) {
    .nav a {
        font-size: 1.4em;
    }

    button.contact {
        font-size: 1.2em;
    }
}

@media (max-width: 1700px) {
    .contact {
        margin-right: 5em;
    }

    .nav a {
        font-size: 1.4em;
    }
}

@media (max-width: 1200px) {
    .contact {
        margin-right: 2em;
    }

}

@media (max-width: 800px) {
    .contact {
        margin-right: 1em;
    }

    .nav a {
        font-size: 1.3em;
        padding: 0.7em 0.7em;
    }

    button.contact {
        font-size: 1.1em;
    }
    
}

@media (max-width: 600px) {
    .header {
        position: relative;
        flex-direction: column;
        margin: 0 auto;
    }

    .nav a {
        font-size: 1.5em;
        text-align: center;
    }

    .nav {
        flex-direction: column;
        gap: 1em;
        margin: 0 auto;
        padding: 0.5em;
    }

    button.contact {
        font-size: 1em;
        margin: 1em;
    }
}