.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #141a1a;
}

.header.scrolled {
    background-color: #020122;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transition: 0.2s ease-in-out;
}

.nav {
    display: flex;
    gap: 2em;
    margin: 0 auto;
}

.nav .name {
    font-weight: 700;
    letter-spacing: 0.5px;
}

.contact {
    margin-right: 16em;
}

.nav a {
    font-size: 1.6em;
    padding: 0.7em 0.7em;
}

.nav a:hover {
    background-color: #141bae;
    color: #fff;
    border-radius: 10px;
}

button.contact a {
    color: #fff;
    text-decoration: none;
}

button.contact {
    font-size: 1.4em;
    background-color: #f56200; 
    border-radius: 18px;
    transition: 0.3s ease;
}

button.contact:hover {
    background-color: #d83f08;
    color: #fff;
    transform: translateY(-2px);
    font-weight: 600;
}