.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #1B2D2A;
}

.nav {
    display: flex;
    gap: 2em;
    margin: 0 auto;
}

.nav .name {
    font-weight: 700;
    letter-spacing: 0.5px;
}

.contact {
    margin-right: 12em;
}

a {
    font-size: 1.7em;
    padding: 1em 1em;
}

.header a:hover {
    background-color: #141bae;
    color: #fff;
    border-radius: 10px;
}