.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #1B2D2A;
}

.header.scrolled {
    background-color: #141a1a;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transition: 0.2s ease-in-out;
}

.nav {
    display: flex;
    gap: 2em;
    margin: 0 auto;
}

.nav .name {
    font-weight: 700;
    letter-spacing: 0.5px;
}

.contact {
    margin-right: 12em;
}

a {
    font-size: 1.6em;
    padding: 0.7em 0.7em;
}

.header a:hover {
    background-color: #141bae;
    color: #fff;
    border-radius: 10px;
}