.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em;
  margin-top: 3em;
}

.home img {
  width: 30em;
  height: 30em;
  border-radius: 50%;
}

.home p {
  font-size: 2em;
  font-weight: 700;
  max-width: 1200px;
  text-align: center;
}