.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em;
  margin-top: 3em;
}

.home img {
  width: 28em;
  height: 28em;
  border-radius: 50%;
}

.home h1 {
  font-size: 2.2em;
  color: #f1b900;
}

.home p {
  font-size: 1.6em;
  font-weight: 600;
  max-width: 1100px;
  text-align: center;
  margin: 0;
}