.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em;
  margin-top: 3em;
}

.home img {
  width: 28em;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.home h1 {
  font-size: 2.2em;
  color: #f1b900;
}

.home p {
  font-size: 1.6em;
  font-weight: 600;
  max-width: 1100px;
  text-align: center;
  margin: 0;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 700px) {
    .home img {
      width: 15em;
      height: auto;
    }

    .home p {
      font-size: 1.1em;
    }

    .home h1 {
      font-size: 2em;
    }
}