.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 4em 0;
  background-color: #111111;
}

.home img {
  width: 28em;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.home h1 {
  font-size: 2.2em;
  color: #f1b900;
}

.home p {
  color: #fff;
  font-size: 1.6em;
  font-weight: 600;
  max-width: 1100px;
  text-align: center;
  margin: 0;
}

.fade-in-img {
  opacity: 0;
  animation: fadeIn 2s ease forwards ;
}

.fade-in {
  opacity: 0;
  animation: fadeInUp 2s ease forwards;
  transform: translateY(20px);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in:nth-of-type(1) {
  animation-delay: 0.2s;
}

.fade-in:nth-of-type(2) {
  animation-delay: 0.4s;
}

.fade-in:nth-of-type(3) {
  animation-delay: 0.6s;
}

@media (max-width: 700px) {
    .home img {
      width: 15em;
      height: auto;
    }

    .home p {
      font-size: 1.1em;
    }

    .home h1 {
      font-size: 2em;
    }
}