.projects {
    text-align: center;
    background-color: #161616;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 0 6em 0;
}

.projects h1 {
    font-size: 2.1em;
    padding: 3em 0 0 0;
}

.project-links a {
    padding: 1em;
    font-size: 1.4em;
}

.project-card {
    background: rgba(255,255,255,0.04);
    border-radius: 16px;
    border: 1px solid rgba(255,255,255,0.1);
    padding: 3em;
    transition: 0.3s ease;
}

.project-card:hover {
    cursor: pointer;
    border-color: #646cff;
    box-shadow: 0 8px 12px rgba(100, 108, 255, 0.2);
    transform: translateY(-5px);
}

.project-technologies {
    margin: 1em;
    color: #f1b900;
}

span {
    font-weight: 700;
    padding: 0.5em;
}

video {
    margin: 0 auto;
}

.project-links a:hover {
    text-decoration: underline;
}

.toggle-indicator {
  font-size: 1.6rem;
  opacity: 0.75;
}

.project-video {
  margin-top: 1em;
  /* animation code for sliding the video out */
  opacity: 0;
  transform: translateY(-6px);
  overflow: hidden;
  transition: max-height 350ms ease, opacity 250ms ease, transform 250ms ease;
  max-height: 0;
}

.project-video.open {
  display: block;
  opacity: 1;  
  transform: translateY(0);
  max-height: 900px;
}

.project-video video {
  width: 100%;
  height: 600px; /* Actual height of video */
  object-fit: cover;
  border-radius: 12px;
}
