.projects {
    text-align: center;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    max-width: 80%;
    margin: 0 auto;
}

.project-card {
    background: rgba(255,255,255,0.04);
    border-radius: 16px;
    border: 1px solid rgba(255,255,255,0.1);
}

.project-card:hover {
    cursor: pointer;
    border-color: #646cff;
    box-shadow: 0 8px 12px rgba(100, 108, 255, 0.2);
    transition: 0.2s ease;
}

.project-technologies {
    color: #f1b900;
}

span {
    font-weight: 700;
    padding: 0.5em;
}

video {
    max-width: 50%;
    margin: 0 auto;
}

.project-links a:hover {
    text-decoration: underline;
}